<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER_CLIENT_ID</key>
	<string>592269086567-28pkpqovcrb4t55scljl3h91sanvusa6.apps.googleusercontent.com</string>
	<key>CLIENT_ID</key>
	<string>592269086567-28pkpqovcrb4t55scljl3h91sanvusa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592269086567-28pkpqovcrb4t55scljl3h91sanvusa6</string>
	<key>API_KEY</key>
	<string>AIzaSyDRQFDFtD58X5pCbuVrmq-0_LZk_7aWFfI</string>
	<key>GCM_SENDER_ID</key>
	<string>592269086567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.pancake.chat</string>
	<key>PROJECT_ID</key>
	<string>pancake-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>pancake-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592269086567:ios:1c8322d2ab9eac91e429c2</string>
	<key>DATABASE_URL</key>
	<string>https://pancake-chat.firebaseio.com</string>
</dict>
</plist>